<div *ngIf="daySelected == null" class="columns days mt-2">
    <button (click)="selectDay(1)"
        class="column button is-fullwidth is-12 has-text-centered has-background-primary mt-3 has-text-white is-size-3 bd-notification">
        Jour 1</button>
    <button (click)="selectDay(2)" [disabled]="!isItTime(1594542600000) && hackit()"
        class="column  button is-fullwidth is-12 has-text-centered has-background-primary mt-3 has-text-white is-size-3 bd-notification">
        <img *ngIf="!isItTime(1594542600000)" src="../../../assets/lock.png" /> Jour 2
    </button>
    <button (click)="selectDay(3)" [disabled]="!isItTime(1594629000000) && hackit()"
        class="column  button is-fullwidth is-12 has-text-centered has-background-primary mt-3 has-text-white is-size-3 bd-notification">
        <img *ngIf="!isItTime(1594629000000)" src="../../../assets/lock.png" />Jour 3
    </button>
    <button [disabled]="!isItTime(1594645200000) && hackit()"
        class="column  button is-fullwidth is-12 has-text-centered is-success mt-3 has-text-white is-size-3 bd-notification">
        <img *ngIf="!isItTime(1594645200000)" src="../../../assets/lock.png" /> Vote
    </button>
    <button [disabled]="!isItTime(1594645800000) && hackit()"
        class="column  button is-fullwidth is-12 has-text-centered  is-success mt-3 has-text-white is-size-3 bd-notification">
        <img *ngIf="!isItTime(1594645800000)" src="../../../assets/lock.png" /> Resultats
    </button>
</div>

<div *ngIf="daySelected" class="columns mt-2">
    <div *ngFor="let trial of daySelected.trials" class="card mt-5">
        <header class="card-header has-background-primary " (click)="selectTrial(trial)">
            <p class="card-header-title has-text-white is-size-5">
                Epreuve {{trial.id}} &nbsp;
                <span class="is-size-6 has-text-weight-light"> - {{trial.name}}</span>
            </p>
            <div class="navbar-burger burger card-header-icon has-text-white">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </header>
        <div *ngIf="trialSelected && trialSelected.id == trial.id" id="collapsible-card" class="is-collapsible">
            <div *ngIf="team"  class="card-content">
                <p class="title is-4 has-text-primary mb-0">
                    {{team.name}}
                </p>
                <ng-container *ngFor="let challenger of team.challengers">
                    <p class="is-5 has-text-primary" [ngClass]="{'has-text-weight-bold': chal.name == challenger.name}">
                        {{challenger.name}}
                    </p>
                </ng-container>

            </div>
            <div *ngIf="!team"  class="card-content">
                <p class="title is-4 has-text-primary mb-0">
                    Epreuve Individuelle
                </p>
            </div>
        </div>
    </div>
</div>