.days button{
    border-radius: 7px;
    border: solid 2px black;
    img{
        position: absolute;
        left: 25px;
        height: 70%;
    }
    font-weight: normal;
    font-family: 'dk';}

.dayText{
    position: absolute;
    top: 0;
}

.card-content{
    background: #d4c8b1a2;
}