.customNavbar {
  height: 80px;
  display: flex;
  background-color: transparent;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 33%;

    img {
      max-height: 80px;
    }
  }


}
