<!-- <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item navBarMenu" href="/home">
          <p class="has-text-primary has-text-weight-bold is-size-4">Menu</p>
      </a>
      <a class="navbar-item navbarImg">
        <img src="../../../assets/navbarLogo.png"  />        
      </a>
     <p></p>
    </div>
</nav> -->

<!-- <nav class="level is-mobile mt-5">

</nav> -->

<div class="customNavbar mt-3">
  <div class="has-text-centered">
    <a class="has-text-primary has-text-weight-bold is-size-4" (click)="backToMenu()">
      Menu
    </a>
  </div>
  <div class="has-text-centered" (click)="refresh()">
    <img src="../../../assets/navbarLogo.png" />
  </div>
  <div class="has-text-centered">
    <a class="has-text-primary has-text-weight-bold is-size-5">{{day ? 'Jour ' + day.id : ''}}</a>
  </div>
</div>