<div *ngIf="!go" class="is-perfect-centered">
  <img src="../../../assets/Logo_Cocolympiades-2020.png" />
  <button (click)="go = true" class="button is-primary is-fullwidth mt-5">Go</button>
</div>

<div *ngIf="!chal && go">
  <app-choose-challenger></app-choose-challenger>
</div>
<div *ngIf="chal && go">
  <h1 (click)="hackit()" class="title has-text-centered has-text-weight-light is-1 has-text-primary">UUGH {{ chal.name }} !</h1>
  <app-days [hacky]="hacky" (hacked)="onHacked()"></app-days>
</div>